@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-lavender-whisper: #f0d7ff;
    --color-forest-ink: #034f46;
    --color-ember-glow: #ffa946;
    --color-vast-ink: #1a1a1a;
    --color-lumen-cream: #ffffeb;
    --color-lumen-stone: #e4e4d0;
    --color-fog: #8a8a80;
    --color-charcoal: #222222;
    --color-pure-white: #ffffff;
  }

  body {
    background-color: var(--color-lumen-cream);
    color: var(--color-vast-ink);
  }
}
